@import "root";
@import "navbar";
@import "fonts";

#about-nav {
    font-weight: 400;
}

.about-content {
    @include f-thin;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 25px;
    max-width: 450px;
    margin-top: 25px;

    img {
        width: 100%;
        max-height: auto;        
    }

    p {
        padding: 25px;
    }
}

.about-content.active {
    display: none;
}

@media screen and (min-width: 1000px) {
    a {
        font-size: 1.1rem;
    }
}