@import "root";
@import "navbar";
@import "fonts";

#contact-nav {
    font-weight: 400;
}

.contact-content {
    @include f-thin;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    text-align: center;

    @media screen and (min-width: 750px) {
        margin-top: 50px;
    }
}

.contact-content.active {
    display: none;
}

@media screen and (min-width: 1000px) {
    a {
        font-size: 1.1rem;
    }
}