@import "root";
@import "navbar";
@import "fonts";

#edu-nav {
    font-weight: 400;
}

.edu-text {
    @include f-thin;
    margin: auto;
    text-align: center;
    padding: 25px;
    margin-top: 15px;
    max-width: 500px;

    @media screen and (min-width: 750px) {
        margin-top: 50px;
    }
}

.edu-text.active {
    display: none;
}

