* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 246, 245);
 }

@import "navbar";

#work-nav {
    font-weight: 400;
}

.work-display {    
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    grid-gap: 15px;
    max-width: 150px;

    img {        
        width: 100%;
    }
}

.work-display.active {
    display: none;
}

@media screen and (min-width: 625px) {

    .work-display {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        max-width: 720px;
    }
    
}