.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 9fr;
}

nav {
    background: red;
    grid-area: 1/1/1/3
}

p {
    background: blue;
    grid-area: 2/1/3/2;
}

img {
    background: green;
    grid-area: 2/2/2/3;
    
}
