* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 246, 245);
 }

 @mixin f-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(15, 15, 15);
 }

 @mixin f-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(15, 15, 15);
 }

 @mixin f-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(15, 15, 15);
 }

 @mixin f-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(15, 15, 15);
 }

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 11fr;
}

.header {
    /* background-color: blue; */
    grid-area: 1/1/2/3;
}

.nav {
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column; /* remove outside of mobile */
    justify-content: space-between;  
      

    .nav-links {
        
        /* background-color: blue; */
        /* width: 100%; */
        list-style: none;             
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
        
        li {
            display: inline-block;               
            margin: 5px;

            a {
                text-decoration: none;
                @include f-thin;
            }
        }            
    }

    .nav-links.active {
        display: flex;
    }

    #toggle-button {        
        position: absolute;
        top: 0.6rem;
        right: 1rem;
    }

    #toggle-button.active {
        display: none;
    }

    #close-button {
        display: none;    
        position: absolute;
        top: 0.6rem;
        right: 1rem;
    }

    #close-button.active {
        display: block;
    }
    
    .some-icons {
        /* background-color: red; */
        list-style: none;
        /* padding-left: 125px; */
        margin: auto; 
        display: none;
        
        li {
            display: inline-block;
            margin: 5px;
        }
    }
    
    #logo {
        /* background-color: yellow; */
        display: inline;        
        margin: auto;
        @include f-regular;
        font-size: 1.5rem;
        letter-spacing: 0.2em;
    }
    #logo.active {
        display: none;
    }
}

.text-content {
    /* background: blue; */
    /* grid-area: 2/1/3/2; */
    grid-area: 2/1/3/2;
    /*margin: 5rem 5rem 0 auto;    
    max-width: 20rem;*/

    p {
        /* background-color: red; */
        @include f-light;
        font-size: 1.2rem;
        text-align: center;
        /* padding: 175px 25px 50px 50px; */
        padding: 20px 50px 50px 50px;        
    }
}

.text-content.active {
    display: none;
}

.img-content {
    /* grid-area: 2/2/3/3; */
    grid-area: 3/1/4/2;
    /*background: green;*/
    max-width: 100%;

    img {
        padding: 0 20px 20px 20px;
        max-width: 100%;
    }
}

.img-content.active {
    display: none;
}

@media screen and (min-width: 750px) {

    #toggle-button {
        display: none;
    }
    .nav {
        /* height: 100%; */
        display: flex;
        flex-direction: row;        
        justify-content: space-between;

        .nav-links {
            margin: auto;
            /* background-color: red; */         
            display: inline;         
        }
        .some-icons {            
            display: inline;            
        }
    }

    .text-content {
        p {
            padding: 50px 50px 10px 50px;
        }
    }

    .img-content {
        img {
            padding: 50px;
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 48px 11fr;
    }
    .text-content {
        /* background-color: blue; */
        /* grid-area: 2/1/3/2; */
        grid-area: 2/1/3/2;
        /*margin: 5rem 5rem 0 auto;    
        max-width: 20rem;*/
    
        p {
            /* background-color: red; */
            @include f-light;
            font-size: 1.5rem;
            /* text-align: center; */
            padding: 140px 25px 50px 150px;
            /* padding: 50px 50px 50px 50px; */            
        }        
    }
    .img-content {
        grid-area: 2/2/3/3;
        /* grid-area: 3/1/4/2; */
        /*background: green;*/
        max-width: 100%;   
        
    }
}
