.work-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    padding: 15px;
    grid-gap: 15px;

    img {
        width: 100%;
    }
}

.work-display.active {
    display: none;
}